.productDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px; /* Увеличиваем максимальную ширину блока */
  margin: 0 auto;
  text-align: center;
  height: 100vh; /* Высота блока равна высоте видимой области */
}

.productImage {
  flex: 0 0 auto; /* Фиксированная ширина изображения */
  margin-right: 60px; /* Увеличиваем отступ между изображением и описанием */
}

.productImage img {
  max-width: 300px; /* Увеличиваем максимальную ширину изображения */
  max-height: 300px; /* Увеличиваем максимальную высоту изображения */
  border-radius: 10px; /* Увеличиваем радиус скругления углов */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Увеличиваем размер и размытие тени для изображения */
}

.productInfo {
  text-align: left; /* Выравниваем текст по левому краю */
}

.productInfo h2 {
  font-size: 2.5rem; /* Увеличиваем размер заголовка */
  margin-bottom: 20px; /* Увеличиваем отступ между заголовком и описанием */
}

.productInfo p {
  font-size: 1.4rem; /* Увеличиваем размер текста описания */
  margin-bottom: 20px; /* Увеличиваем отступ между параграфами */
}

.buyButton {
  padding: 15px 30px; /* Увеличиваем размеры кнопки */
  font-size: 1.4rem; /* Увеличиваем размер шрифта кнопки */
  border-radius: 10px; /* Увеличиваем радиус скругления углов кнопки */
  cursor: pointer;
}
