.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 400px;
  height: auto;
  max-height: 80%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 500; /* Повышаем z-index модального окна */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 499; /* Устанавливаем меньший z-index для затемнения */
}

/* Modal content */
.modalContent {
  background-color: #fff; /* Цвет фона модального окна */
  padding: 20px;
  border-radius: 8px;
  /* Убираем тень */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  max-width: 400px;
  width: 90%;
  position: relative; /* Добавляем для корректного позиционирования кнопки закрытия */
  animation: slideIn 0.3s ease-in-out; /* Анимация появления */
}

/* Close button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #666; /* Цвет иконки закрытия */
}

/* Анимация появления модального окна */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Анимация появления контента в модальном окне */
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
