.purchaseHistory {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchaseHistory h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.purchaseHistory ul {
  list-style-type: none;
  padding: 0;
}

.purchaseHistory li {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchaseHistory li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
  padding: 8px 12px;
}

.purchaseHistory p {
  font-style: italic;
  text-align: center;
}

.transactionStatus {
  width: calc(100% - 24px); /* Вычитаем отступы padding: 8px 12px; */
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.pending {
  background-color: #ccc; /* Серый цвет для ожидания */
}

.completed {
  background-color: #d4edda; /* Светло-зеленый цвет для завершенных */
}

.rejected {
  background-color: #f8d7da; /* Красный цвет для отмененных */
}

.cancelButton {
  background-color: #dc3545; /* Красный цвет для кнопки отмены */
  color: #fff; /* Белый текст */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

.cancelButton:hover {
  background-color: #c82333; /* Темнокрасный при наведении */
}

.buyButton {
  background-color: #28a745; /* Зеленый цвет для кнопки купить */
  color: #fff; /* Белый текст */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавное изменение цвета */
  margin-left: 20px;
}

.buyButton:hover {
  background-color: #218838; /* Темнозеленый при наведении */
}
